<style>
    .main_pos{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 100px;
    }
    .search_form{
        position: fixed;
        left: 490px;
        width: 500px;
        top: 50px;
    }
</style>

<div class="search_form">
    <div class="input-group">
        <input type="search" [(ngModel)]="searchCity" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" (click)="onSearch()" class="btn btn-outline-primary">search</button>
    </div>
</div>



<div class="main_pos">
    <div class="card text-white bg-success m-5" style="max-width: 18rem;">
        <div class="card-header">{{correctCity}}</div>
        <div class="card-body">
          <h5 class="card-title"> Temperature {{weather.main.temp}} ° C</h5>
          <p> Feels like {{weather.main.feels_like}} ° C</p>
          <p>Humidity {{weather.main.humidity}}</p>
          <p class="card-text"></p>
        </div>
      </div>
</div>

